Repository meteia/meteia: changes, and which lefthook commands are due for each by the changed paths.
All: sort-json, alejandra, php-cs-fixer

sort-json:
  run: sort-json {staged_files} && git add {staged_files}

alejandra:
  run: alejandra --quiet {staged_files} && git add {staged_files}

php-cs-fixer:
  run: php-cs-fixer --config=.php-cs-fixer.php fix {staged_files} && git add {staged_files}

amq: add stop worker console commands
  Meteia/AdvancedMessageQueuing/Bunny/BunnyCommandBus.php
  Meteia/AdvancedMessageQueuing/Bunny/BunnyEventBus.php
  Meteia/Commands/CommandLine/RunWorker.php
  Meteia/Commands/CommandLine/StopWorker.php
  Meteia/Events/CommandLine/StopWorker.php
  Meteia/Events/EventToEventHandlersMap.php
Due: php-cs-fixer

files: expose internal URI
  Meteia/Files/Contracts/Storage.php
  Meteia/Files/ObjectStorage.php
Due: php-cs-fixer

nix: update flake, use default lefthooks from chips
  .envrc
  flake.lock
  nix/devShells/default.nix
Due: alejandra

npm: update deps
  package.json
  pnpm-lock.yaml
Due: sort-json

deps: update
  flake.lock
  pnpm-lock.yaml
Due: none

npm: remove sort-json and eslint-plugin-json
  .eslintrc.js
  package.json
  pnpm-lock.yaml
Due: sort-json

nix: remove dead code
  nix/devShells/default.nix
Due: alejandra

composer: fix validate errors
  composer.json
Due: sort-json

nix: update flakes
  flake.lock
Due: none

image: remove unused ResizeableImage interface
  Meteia/Html/EnhancedElements/ResizeableImage.php
Due: php-cs-fixer

phpstan: add dep, basic config
  composer.json
  phpstan.neon
Due: sort-json

html: Use strings instead of arrays for classes in ClassVarianceAuthority
  Meteia/Html/ClassVarianceAuthority.php
Due: php-cs-fixer

html: if there is only a single attribute with the index 0, use as a class (the most common)
  Meteia/Html/Elements.php
Due: php-cs-fixer

performance: always capture time spent
  Meteia/Performance/Timings.php
Due: php-cs-fixer

http: map source image jpg format
  Meteia/Http/Responses/ResizedImageResponse.php
Due: php-cs-fixer

php-cs-fixer: rename with dist prefix
  .php-cs-fixer.dist.php
Due: php-cs-fixer

nix: update flakes again
  flake.lock
Due: none

cache: first pass at FileCache
  Meteia/Cache/Cache.php
  Meteia/Cache/Configuration/CacheDirectory.php
  Meteia/Cache/DependencyInjection.php
  Meteia/Cache/FileCache.php
Due: php-cs-fixer

images: drop endpoint, use objects for work
  Meteia/Http/Responses/ResizedImageResponse.php
  Meteia/Images/Image.php
  Meteia/Images/ImageFile.php
  Meteia/Images/ImageFormat.php
  Meteia/Images/Images.php
  Meteia/Images/TemporaryImageFile.php
Due: php-cs-fixer

configuration: allow stringable
  Meteia/Configuration/Configuration.php
  Meteia/Configuration/EnvironmentConfiguration.php
Due: php-cs-fixer

configuration: merge app env with $_ENV
  Meteia/Configuration/EnvironmentConfiguration.php
Due: php-cs-fixer

valueObjects: Add helper methods for FileSystemPath
  Meteia/ValueObjects/Identity/FilesystemPath.php
Due: php-cs-fixer

composer: add chronos, blurhash
  composer.json
Due: sort-json

sort: apply
  phpbench.json
Due: sort-json

valueObjects: Add TemporaryFilesystemPath
  Meteia/ValueObjects/Identity/TemporaryFilesystemPath.php
Due: php-cs-fixer

cache: value cache (should probably be renamed from plain Cache)
  Meteia/Cache/Cache.php
  Meteia/Cache/Configuration/CacheHmacSecretKey.php
  Meteia/Cache/DependencyInjection.php
  Meteia/Cache/FileCache.php
  composer-old.json
  composer.json
Due: sort-json, php-cs-fixer

application: rough fix for vite asset loading
  Meteia/Application/ApplicationResources.php
  Meteia/Application/ApplicationResourcesManifestPath.php
  Meteia/Application/DependencyInjection.php
Due: php-cs-fixer

application: rough fix for vite asset loading, in vite dev
  Meteia/Application/ApplicationResources.php
  Meteia/Application/DependencyInjection.php
Due: php-cs-fixer

ErrorHandling: Rename from Dulce
  Meteia/Application/Instance.php
  Meteia/CommandLine/Commands.php
  Meteia/ErrorHandling/DependencyInjection.php
  Meteia/ErrorHandling/Dulce.php
  Meteia/ErrorHandling/DulceErrorException.php
  Meteia/ErrorHandling/EditorUri.php
  Meteia/ErrorHandling/Endpoints/ConsoleErrorEndpoint.php
  Meteia/ErrorHandling/Endpoints/DeveloperErrorEndpoint.php
  Meteia/ErrorHandling/Endpoints/ErrorEndpoint.php
  Meteia/ErrorHandling/ErrorClassifications/ErrorClassification.php
  Meteia/ErrorHandling/ErrorClassifications/LaxErrorClassification.php
  Meteia/ErrorHandling/ErrorClassifications/StrictErrorClassification.php
  Meteia/ErrorHandling/ErrorEndpoint.php
  Meteia/ErrorHandling/Functions/dd.php
  Meteia/ErrorHandling/HighlightSnippet.php
  Meteia/ErrorHandling/README.md
  Meteia/ErrorHandling/StackTraces/FileFragment.php
  Meteia/ErrorHandling/StackTraces/FileFragments.php
  Meteia/ErrorHandling/StackTraces/Frame.php
  Meteia/ErrorHandling/StackTraces/FrameFilter.php
  Meteia/ErrorHandling/StackTraces/FrameFilterMeteia.php
  Meteia/ErrorHandling/StackTraces/FrameFilters.php
  Meteia/ErrorHandling/StackTraces/Frames.php
  Meteia/ErrorHandling/StackTraces/Line.php
  Meteia/ErrorHandling/StackTraces/Lines.php
  Meteia/ErrorHandling/Templates/FileFragment.php
  Meteia/ErrorHandling/Templates/FileFragment.tpl
  Meteia/ErrorHandling/Templates/MissingFrame.php
  Meteia/ErrorHandling/Templates/MissingFrame.tpl
  Meteia/ErrorHandling/Templates/StackFrame.php
  Meteia/ErrorHandling/Templates/StackFrame.tpl
  Meteia/ErrorHandling/Templates/StackTrace.php
  Meteia/ErrorHandling/Templates/StackTrace.tpl
  composer.json
Due: sort-json, php-cs-fixer

ErrorHandling: cleanup
  Meteia/ErrorHandling/DependencyInjection.php
Due: php-cs-fixer

cleanup
  infection.json.dist
  monorepo-builder.php
Due: php-cs-fixer

ErrorHandling: Basic public page, highlight line a bit better
  Meteia/ErrorHandling/DependencyInjection.php
  Meteia/ErrorHandling/Endpoints/DeveloperErrorEndpoint.php
  Meteia/ErrorHandling/Endpoints/PublicErrorEndpoint.php
  Meteia/ErrorHandling/Templates/FileFragment.tpl
  Meteia/ErrorHandling/Templates/StackTrace.tpl
Due: php-cs-fixer

html: add attributes property, use el to build
  Meteia/Html/Elements/Body.php
Due: php-cs-fixer

htmx: make class readonly, split toArray out from __toString
  Meteia/Htmx/HtmxAttributes.php
Due: php-cs-fixer

nix: include igbinary
  flake.nix
Due: alejandra

http: apply php-cs-fixer
  Meteia/Http/RequestBody.php
Due: php-cs-fixer

Path conditions:
  sort-json: any of: *.json
  alejandra: any of: *.nix, but not: composer-project.nix
  php-cs-fixer: any of: *.{php,tpl}
