Repository meteia/meteia: changes, and which lefthook commands are due for each by the changed paths.
All: sort-json, alejandra, php-cs-fixer

lefthook.yml:

pre-push:
  parallel: true
  commands:
    php-cs-fixer:
      glob: "*.{php,tpl}"
      run: php-cs-fixer --config=.php-cs-fixer.php fix --dry-run

pre-commit:
  parallel: true
  commands:
    sort-json:
      glob: "*.json"
      run: sort-json {staged_files} && git add {staged_files}
    alejandra:
      glob: "*.nix"
      run: alejandra --quiet {staged_files} && git add {staged_files}
      exclude: "composer-project.nix"
    php-cs-fixer:
      glob: "*.{php,tpl}"
      run: php-cs-fixer --config=.php-cs-fixer.php fix {staged_files} && git add {staged_files}

update deps
  flake.lock
  package.json
  pnpm-lock.yaml
Due: sort-json

php: update to 8.4, aura/sql to 6.x
  composer.json
  nix/devShells/default.nix
Due: sort-json, alejandra

nix: update flakes
  flake.lock
  flake.nix
Due: alejandra

enable phpactor
  .phpactor.json
Due: sort-json

mago: fix some issues
  Meteia/Application/ApplicationPath.php
  Meteia/Backblaze/Api/Api.php
  Meteia/Backblaze/Api/AuthorizedAccount.php
  Meteia/Cryptography/SecretKey/XChaCha20Poly1305.php
  Meteia/DependencyInjection/Definitions.php
  Meteia/Domain/ValueObjects/Primitive/FloatLiteral.php
  Meteia/Domain/ValueObjects/Primitive/IntegerLiteral.php
  Meteia/ErrorHandling/StackTraces/FileFragments.php
  Meteia/ErrorHandling/Templates/StackTrace.php
  Meteia/EventSourcing/PdoEventStreamTest.php
  Meteia/GraphQL/AutoResolve.php
  Meteia/GraphQL/SchemaFields.php
  Meteia/Html/Elements.php
  Meteia/Images/ImageFile.php
  Meteia/Logging/LogfmtTest.php
  Meteia/MessageStreams/MessageSerializerTest.php
  Meteia/MessageStreams/PdoMessageStream.php
  Meteia/MessageStreams/PdoMessageStreamTest.php
  Meteia/Polyfills/Strings.php
  Meteia/ValueObjects/Identity/FilesystemPath.php
  Meteia/ValueObjects/Imported/Primitives/BooleanLiteral.php
  Meteia/ValueObjects/Imported/Primitives/FloatLiteral.php
  Meteia/ValueObjects/Imported/Primitives/IntegerLiteral.php
  Meteia/ValueObjects/Primitive/FloatLiteral.php
  Meteia/ValueObjects/Primitive/IntegerLiteral.php
Due: php-cs-fixer

cleanup old tooling
  .eslintrc.js
  .php-cs-fixer.dist.php
  .phpactor.json
  .zed/settings.json
  Meteia/ValueObjects/Imported/ignore-composer.json
  composer.json
  flake.lock
  flake.nix
  nix/devShells/default.nix
  package.json
  phpbench.json
  phpstan.neon
  pnpm-lock.yaml
  prettier.config.mjs
  tools/PrettierPHPFixer.php
Due: sort-json, alejandra, php-cs-fixer

fix DI post mago, update CVA
  Meteia/DependencyInjection/Definitions.php
  Meteia/ErrorHandling/Endpoints/DeveloperErrorEndpoint.php
  Meteia/ErrorHandling/Templates/FileFragment.tpl
  Meteia/ErrorHandling/Templates/StackFrame.tpl
  Meteia/ErrorHandling/Templates/StackTrace.tpl
  Meteia/Html/ClassVarianceAuthority.php
  Meteia/ValueObjects/Imported/ignore-composer.json
  composer.json
  flake.lock
  flake.nix
  phpbench.json
Due: sort-json, alejandra, php-cs-fixer

application: add requireStyle
  Meteia/Application/ApplicationResources.php
Due: php-cs-fixer

application: fix syntax
  Meteia/Application/ApplicationResources.php
Due: php-cs-fixer

error-handling: can't use SAPI to determine which error endpoint to use because bref runs like that
  Meteia/ErrorHandling/DependencyInjection.php
Due: php-cs-fixer

error-handling: rework to use middleware as we can't rely on `set_exception_handler` when bref has a try/catch
  Meteia/Application/Instance.php
  Meteia/ErrorHandling/Dulce.php
  Meteia/ErrorHandling/HighlightSnippet.php
  Meteia/ErrorHandling/Middleware/CatchAndReportErrors.php
  Meteia/ErrorHandling/README.md
Due: php-cs-fixer

switch to mago from composer
  composer.json
  flake.lock
  flake.nix
Due: sort-json, alejandra

htmx: drop mostly pointless attribute wrappers
  Meteia/Htmx/HtmxAttributes.php
  Meteia/Htmx/HxGet.php
  Meteia/Htmx/HxTrigger.php
Due: php-cs-fixer

zed: use intelephense and biome
  .zed/settings.json
  biome.json
Due: sort-json

formatting cleanup
  Meteia/AdvancedMessageQueuing/Bunny/BunnyCommandBus.php
  Meteia/AdvancedMessageQueuing/Bunny/BunnyEventBus.php
  Meteia/AdvancedMessageQueuing/Bunny/BunnyQueue.php
  Meteia/Events/CommandLine/RunWorker.php
  Meteia/GraphQL/AutoResolve.php
  Meteia/Html/Element.php
  Meteia/Http/Functions/send.php
  Meteia/Http/Middleware/ServerTimingHeader.php
Due: php-cs-fixer

http: use array_any for json body detection
  Meteia/Http/Middleware/ParseBody.php
Due: php-cs-fixer

bluestone: minor refactoring
  Meteia/Bluestone/MutableString.php
  Meteia/Html/Placeholders/PlaceholderHeader.php
Due: php-cs-fixer

composer: update dependencies
  composer.json
Due: sort-json

cleanup formatting, remove unused
  Meteia/Classy/BestMatchingClass.php
  Meteia/Http/Csrf/CsrfTokens.php
  Meteia/Http/EndpointMaps/PsrEndpointMap.php
  Meteia/Http/Middleware/ResponseCookies.php
  nix/devShells/default.nix
Due: alejandra, php-cs-fixer

html: element cleanup
  Meteia/Html/CustomElement.php
  Meteia/Html/Elements/Body.php
  Meteia/Html/Elements/Button.php
  Meteia/Html/Elements/Meta/Charset.php
  Meteia/Html/Elements/Meta/Content.php
  Meteia/Html/Elements/Meta/ItemProp.php
Due: php-cs-fixer

http: rework cookie handling
  Meteia/Application/Instance.php
  Meteia/Http/Configuration/CookieHost.php
  Meteia/Http/Cookies/AeadCookies.php
  Meteia/Http/Cookies/Cookie.php
  Meteia/Http/Cookies/CookieAttributes.php
  Meteia/Http/Cookies/CookieSecret.php
  Meteia/Http/Cookies/CookieString.php
  Meteia/Http/Cookies/Cookies.php
  Meteia/Http/Cookies/HmacCookies.php
  Meteia/Http/Cookies/OpenedCookie.php
  Meteia/Http/Cookies/PlaintextCookie.php
  Meteia/Http/Cookies/RequestCookies.php
  Meteia/Http/Cookies/SameSite.php
  Meteia/Http/Cookies/SealCookieResult.php
  Meteia/Http/Cookies/SealedCookie.php
  Meteia/Http/DependencyInjection.php
  Meteia/Http/Middleware/ResponseCookies.php
  Meteia/Http/Middleware/SetCookieMiddleware.php
Due: php-cs-fixer

Minor cleanup
  Meteia/DependencyInjection/TimedContainer.php
  Meteia/Html/Elements/Img.php
Due: php-cs-fixer

update deps, install biomejs
  bun.lock
  composer.json
  package.json
Due: sort-json

fix mago-mangled filter checks
  Meteia/ValueObjects/Primitive/FloatLiteral.php
  Meteia/ValueObjects/Primitive/IntegerLiteral.php
Due: php-cs-fixer

apply mago fix
  Meteia/Html/ClassVarianceAuthority.php
Due: php-cs-fixer

http: remove unused override
  Meteia/Http/Responses/BinaryResponse.php
Due: php-cs-fixer

http: add SetServerRequestInterface
  Meteia/Http/Middleware/SetServerRequestInterface.php
Due: php-cs-fixer

database: update env vars, configure ExtendedPdoInterface
  Meteia/Database/DependencyInjection.php
Due: php-cs-fixer

mago: update and format
  Meteia/CommandLine/Commands.php
  Meteia/Commands/Commands.php
  Meteia/Events/EventHandlers.php
  Meteia/Events/Events.php
  Meteia/GraphQL/DeferredResolve.php
  Meteia/GraphQL/TableConnectionResolver.php
  Meteia/Http/Middleware/ServerTimingHeader.php
  Meteia/Http/UploadProgress.php
  composer.json
Due: sort-json, php-cs-fixer

authentication: polymorphic RequestingUser + concrete UserId/SystemId
  Meteia/Authentication/AnonymousUser.php
  Meteia/Authentication/IdentifiedUser.php
  Meteia/Authentication/Oauth/AccessToken.php
  Meteia/Authentication/RequestingUser.php
  Meteia/Authentication/SystemId.php
  Meteia/Authentication/SystemUser.php
  Meteia/Authentication/TODO.md
  Meteia/Authentication/UserId.php
  Meteia/Authentication/UserIdentifier.php
  Meteia/Http/GraphQL/Endpoints.php
Due: php-cs-fixer

claude guidance
  CLAUDE.md
Due: none

webauthn: add project-agnostic WebAuthn module
  Meteia/WebAuthn/Challenge/ChallengeCookie.php
  Meteia/WebAuthn/Challenge/ChallengeCookieTest.php
  Meteia/WebAuthn/Challenge/ChallengePurpose.php
  Meteia/WebAuthn/Commands/RecordSuccessfulAuthentication.php
  Meteia/WebAuthn/Commands/RegisterCredential.php
  Meteia/WebAuthn/Configuration/RelyingPartyId.php
  Meteia/WebAuthn/Configuration/RelyingPartyName.php
  Meteia/WebAuthn/Configuration/RelyingPartyOrigins.php
  Meteia/WebAuthn/Configuration/WebAuthnCredentialsTable.php
  Meteia/WebAuthn/Configuration/WebAuthnSecretKey.php
  Meteia/WebAuthn/Configuration/WebAuthnUsersTable.php
  Meteia/WebAuthn/Contracts/CredentialSourceRepository.php
  Meteia/WebAuthn/Contracts/EventDispatcher.php
  Meteia/WebAuthn/Contracts/ResolveRequestingUser.php
  Meteia/WebAuthn/Contracts/UserEntityRepository.php
  Meteia/WebAuthn/Database/PdoCredentialSourceRepository.php
  Meteia/WebAuthn/Database/PdoUserEntityRepository.php
  Meteia/WebAuthn/DependencyInjection.php
  Meteia/WebAuthn/Endpoints/BeginAuthentication.php
  Meteia/WebAuthn/Endpoints/BeginRegistration.php
  Meteia/WebAuthn/Endpoints/CompleteAuthentication.php
  Meteia/WebAuthn/Endpoints/CompleteRegistration.php
  Meteia/WebAuthn/Errors/AssertionFailed.php
  Meteia/WebAuthn/Errors/AttestationFailed.php
  Meteia/WebAuthn/Errors/InvalidWebAuthnChallenge.php
  Meteia/WebAuthn/Errors/UnknownCredential.php
  Meteia/WebAuthn/Events/AuthenticationSucceeded.php
  Meteia/WebAuthn/Events/CredentialRegistered.php
  Meteia/WebAuthn/NullEventDispatcher.php
  Meteia/WebAuthn/RelyingParty.php
  Meteia/WebAuthn/WebAuthnServer.php
  Meteia/migrations/20260503120000.i.create_webauthn_tables.sql
  composer.json
Due: sort-json, php-cs-fixer

misc cleanup
  .envrc
  Meteia/Database/CommandLine/NewMigration.php
  Meteia/Database/MigrationDatabase.php
  Meteia/Database/MigrationsTableName.php
  Meteia/GraphQL/TableConnectionResolver.php
  Meteia/Html/Elements/Form.php
  Meteia/Html/Footer.php
  Meteia/Html/HeaderTitle.php
  Meteia/Html/HtmlEncoder.php
  Meteia/Html/HtmlLayout.php
  Meteia/Html/Layout.php
  Meteia/Html/Node.php
  Meteia/Html/Placeholders/PlaceholderFooter.php
  Meteia/Html/Placeholders/PlaceholderLayout.php
  biome.json
  bun.lock
  composer.json
  nix/devShells/default.nix
  package.json
Due: sort-json, alejandra, php-cs-fixer

database: harden table helpers and migrations
  Meteia/Database/CommandLine/Migrate.php
  Meteia/Database/CommandLine/NewMigration.php
  Meteia/Database/Database.php
  Meteia/Database/DatabaseTables.php
  Meteia/Database/DependencyInjection.php
  Meteia/Database/Errors/FailedToUpdate.php
  Meteia/Database/Errors/OnDuplicateKey.php
  Meteia/Database/EventHandlers/Files/FileUploaded/InsertIntoDatabase.php
  Meteia/Database/FromDatabase.php
  Meteia/Database/MigrationDatabase.php
  Meteia/Database/MigrationsTableName.php
  Meteia/Database/MySQL.php
  Meteia/Database/ServerTimingProfiler.php
  Meteia/Database/SqlBoundColumns.php
  Meteia/Database/SqlIdentifier.php
  Meteia/Database/SqlTableName.php
  Meteia/Database/SqlValue.php
  Meteia/GraphQL/TableConnectionResolver.php
  Meteia/WebAuthn/Database/PdoCredentialSourceRepository.php
  Meteia/WebAuthn/Database/PdoUserEntityRepository.php
Due: php-cs-fixer

html: rewrite Bluestone HTML layer as immutable value-object tree
  Meteia/Html/Attrs.php
  Meteia/Html/Children.php
  Meteia/Html/ChildrenTest.php
  Meteia/Html/ClassList.php
  Meteia/Html/ClassListTest.php
  Meteia/Html/ClassName.php
  Meteia/Html/ClassVarianceAuthority.php
  Meteia/Html/CustomElement.php
  Meteia/Html/Element.php
  Meteia/Html/Elements.php
  Meteia/Html/Elements/Button.php
  Meteia/Html/Elements/Form.php
  Meteia/Html/Elements/Img.php
  Meteia/Html/Elements/Link.php
  Meteia/Html/Elements/Script.php
  Meteia/Html/Elements/Source.php
  Meteia/Html/HeaderTitle.php
  Meteia/Html/HtmlEncoder.php
  Meteia/Html/HtmlEncoderTest.php
  Meteia/Html/HtmlLayout.php
  Meteia/Html/Layout.php
  Meteia/Html/Node.php
  Meteia/Html/Placeholders/PlaceholderFooter.php
  Meteia/Html/Placeholders/PlaceholderLayout.php
  Meteia/Html/Tag.php
  Meteia/Html/TagName.php
  Meteia/Html/TagTest.php
  Meteia/Html/VoidElement.php
  mago.toml
Due: php-cs-fixer

Upgrade to PHP 8.5, replace igbinary with gzcompress/serialize
  Meteia/Cache/Cache.php
  composer.json
  flake.lock
  nix/devShells/default.nix
Due: sort-json, alejandra, php-cs-fixer
