Repository meteia/meteia: changes, and which lefthook commands are due for each by the changed paths.
All: sort-json, alejandra, php-cs-fixer

sort-json:
  run: sort-json {staged_files} && git add {staged_files}

alejandra:
  run: alejandra --quiet {staged_files} && git add {staged_files}

php-cs-fixer:
  run: php-cs-fixer --config=.php-cs-fixer.php fix {staged_files} && git add {staged_files}

idea: update project files
  .idea/meteia.iml
  .idea/php.xml
Due: none

http: rewind body if possible before use
  Meteia/Http/Middleware/ParseBody.php
  Meteia/Http/RequestBody.php
Due: php-cs-fixer

application: response should already always be a ResponseInterface
  Meteia/Application/Instance.php
Due: php-cs-fixer

http: remove unused imports
  Meteia/Application/Instance.php
Due: php-cs-fixer

php-cs-fixer: apply fixes
  Meteia/Application/Instance.php
  Meteia/Domain/Transitional/RabbitMQCommandMessage.php
  Meteia/Domain/ValueObjects/Geography/Address.php
  Meteia/Domain/ValueObjects/Geography/CountryCodeName.php
  Meteia/Domain/ValueObjects/Geography/Street.php
  Meteia/Domain/ValueObjects/Primitive/ComplexStringLiteral.php
Due: php-cs-fixer

nix: update flakes
  flake.lock
  flake.nix
Due: alejandra

idea: use per-project PHP
  .idea/php.xml
Due: none

nix: update composer deps
  composer-project.nix
Due: none

database: Allow JSON_ARRAY from database
  Meteia/Database/FromDatabase.php
Due: php-cs-fixer

database: check for database being reachable times with sleep
  Meteia/Database/CommandLine/Migrate.php
Due: php-cs-fixer

database: use fetchValue otherwise `General error: 2014 Cannot execute queries while other unbuffered queries are active.`
  Meteia/Database/CommandLine/Migrate.php
Due: php-cs-fixer

dependency-injection: Resolve a class string when returned from a callable
  Meteia/DependencyInjection/ReflectionContainer.php
Due: php-cs-fixer

file: use METEIA_FILES_STORAGE to dynamically set Storage
  Meteia/Files/DependencyInjection.php
Due: php-cs-fixer

files: Use full hash for basename
  Meteia/Files/ContentAddressableStorage.php
Due: php-cs-fixer

database: update aura/sql dev-psr-log-v3 -> 5.0.2
  Meteia/Database/composer.json
Due: sort-json

http: more verbose logging (temporary I think) for SimpleLog
  Meteia/Http/Middleware/SimpleLog.php
Due: php-cs-fixer

composer: update monorepo
  composer.json
Due: sort-json

idea: update project
  .idea/meteia.iml
Due: none

files: add PublicUri for ObjectStorage
  Meteia/Files/Configuration/PublicUri.php
  Meteia/Files/DependencyInjection.php
Due: php-cs-fixer

files: use publicUri when checking if file exists
  Meteia/Files/ObjectStorage.php
Due: php-cs-fixer

php-cs-fixer: apply fixes
  Meteia/Http/Middleware/SimpleLog.php
Due: php-cs-fixer

nix: update composer
  composer-project.nix
Due: none

http: disable nginx buffering
  Meteia/Http/UploadProgress.php
Due: php-cs-fixer

php-cs-fixer: apply fixes
  Meteia/Cryptography/SecretKey/XChaCha20Poly1305.php
  Meteia/Database/ServerTimingProfiler.php
  Meteia/Domain/Contracts/Comparable.php
  Meteia/Domain/Transitional/RabbitMQCommandMessage.php
  Meteia/Domain/ValueObjects/Primitive/ComplexStringLiteral.php
  Meteia/GraphQL/Types/NullType.php
  Meteia/Html/Elements/Button.php
  Meteia/Html/NativeElement.php
  Meteia/Html/Stylesheets.php
  Meteia/Http/Cookies/OpenedCookie.php
  Meteia/Http/Responses/HtmlResponse.php
  Meteia/MessageQueue/CommandLine/RunWorker.php
  Meteia/MessageQueue/composer.json
  Meteia/ValueObjects/Contracts/Comparable.php
  Meteia/ValueObjects/Identity/FilesystemPath.php
  Meteia/ValueObjects/Identity/Resource.php
Due: sort-json, php-cs-fixer

php: update to 8.3
  composer.json
  flake.nix
Due: sort-json, alejandra

nix: update flakes
  flake.lock
Due: none

message-queue: fix composer.json name
  Meteia/MessageQueue/composer.json
Due: sort-json

php: drop monorepo
  .idea/php.xml
  composer-project.nix
  composer.json
Due: sort-json

nodejs: upgrade deps, switch to pnpm
  flake.nix
  package.json
  pnpm-lock.yaml
Due: sort-json, alejandra

idea: update project files
  .idea/inspectionProfiles/Project_Default.xml
  .idea/meteia.iml
  .idea/php-test-framework.xml
  .idea/php.xml
Due: none

php: move php-cs-fixer to composer
  composer.json
  flake.nix
Due: sort-json, alejandra

php: commit lagging files
  .idea/php.xml
  .idea/phpspec.xml
  composer.json
Due: sort-json

idea: it's dumb
  .idea/meteia.iml
  composer.json
Due: sort-json

composer: remove old monorepo files
  .idea/meteia.iml
  Meteia/Application/composer.json
  Meteia/Authentication/composer.json
  Meteia/Bluestone/composer.json
  Meteia/Classy/composer.json
  Meteia/CommandLine/composer.json
  Meteia/Configuration/composer.json
  Meteia/Cryptography/composer.json
  Meteia/Database/composer.json
  Meteia/DependencyInjection/composer.json
  Meteia/Dulce/composer.json
  Meteia/Files/composer.json
  Meteia/GraphQL/composer.json
  Meteia/Html/composer.json
  Meteia/Htmx/composer.json
  Meteia/Http/composer.json
  Meteia/Library/composer.json
  Meteia/Logging/composer.json
  Meteia/MessageQueue/composer.json
  Meteia/Performance/composer.json
  Meteia/Polyfills/composer.json
  Meteia/ValueObjects/composer.json
Due: sort-json

message-queue: fix namespace
  Meteia/MessageQueue/CommandLine/RunWorker.php
Due: php-cs-fixer

composer: require bunny/bunny
  composer.json
Due: sort-json

bin: fix vendor autoloading
  bin/meteia
Due: none

application: Set default RepositoryPath
  Meteia/Application/DependencyInjection.php
Due: php-cs-fixer

rabbitmq: default to localhost
  Meteia/RabbitMQ/DependencyInjection.php
Due: php-cs-fixer

rabbitmq: set prefetch by default to 1
  Meteia/RabbitMQ/Bunny/BunnyQueue.php
  Meteia/RabbitMQ/Contracts/Queue.php
  Meteia/RabbitMQ/PhpAmqpLib/PhpAmqpLibQueue.php
Due: php-cs-fixer

Path conditions:
  sort-json: any of: *.json
  alejandra: any of: *.nix, but not: composer-project.nix
  php-cs-fixer: any of: *.{php,tpl}
