Repository meteia/meteia: changes, and which lefthook commands are due for each by the changed paths.
All: sort-json, nixpkgs-fmt, php-cs-fixer

sort-json:
  run: sort-json {staged_files} && git add {staged_files}

nixpkgs-fmt:
  run: nixpkgs-fmt {staged_files} && git add {staged_files}

php-cs-fixer:
  run: php-cs-fixer --config=.php-cs-fixer.php fix {staged_files} && git add {staged_files}

application: expose useManifest()
  Meteia/Application/ApplicationResources.php
Due: php-cs-fixer

html: filter out empty attributes (probably needs to be more advanced someday)
  Meteia/Html/Element.php
Due: php-cs-fixer

html: add attrs for Link
  Meteia/Html/Elements/Link.php
Due: php-cs-fixer

global: replace doctrine/inflector, attempt to drop nesbot/carbon
  Meteia/Authentication/Oauth/AccessToken.php
  Meteia/Authentication/composer.json
  Meteia/Bluestone/PhpTemplate.php
  Meteia/CommandLine/composer.json
  Meteia/Configuration/DependencyInjection.php
  Meteia/Database/CommandLine/NewMigration.php
  Meteia/Files/composer.json
  Meteia/Http/EndpointMaps/PsrEndpointMap.php
  Meteia/Library/StringCase.php
  Meteia/Library/composer.json
  composer.json
Due: sort-json, php-cs-fixer

project: update deps
  Taskfile.yaml
  composer-project.nix
  monorepo-builder.php
Due: php-cs-fixer

jetbrains: update project files
  .idea/meteia.iml
  .idea/php.xml
Due: none

project: update nix and phpstorm files
  .idea/meteia.iml
  .idea/php.xml
  composer-project.nix
  flake.lock
Due: none

nix: format with alejandra
  flake.nix
Due: nixpkgs-fmt

php-cs-fixer: fix lint
  Meteia/Http/Middleware/ServerTimingHeader.php
Due: php-cs-fixer

dulce: jdd never returns
  Meteia/Dulce/Functions/dd.php
Due: php-cs-fixer

http: allow null HtmlResponse
  Meteia/Http/Responses/HtmlResponse.php
Due: php-cs-fixer

html: add html() function for escaping text, unsure about the name though
  Meteia/Html/Elements.php
Due: php-cs-fixer

dulce: minor formatting
  Meteia/Dulce/Functions/dd.php
Due: php-cs-fixer

http: Add RequestBody so we can use to multiple times
  Meteia/Http/RequestBody.php
  Meteia/Http/ServerRequestBodies/FormPostBody.php
  Meteia/Http/ServerRequestBodies/JsonPostBody.php
Due: php-cs-fixer

http: Log more of the request and the response
  Meteia/Http/Middleware/SimpleLog.php
Due: php-cs-fixer

bluestone: Add Previewable interface
  Meteia/Bluestone/Contracts/Previewable.php
Due: php-cs-fixer

dulce: Fix debug JSON response header check
  Meteia/Dulce/Endpoints/DeveloperErrorEndpoint.php
Due: php-cs-fixer

html: Use string concatenation in Title
  Meteia/Html/Elements/Title.php
Due: php-cs-fixer

html: Allow Body content to be either a string or Stringable
  Meteia/Html/Elements/Body.php
Due: php-cs-fixer

dulce: ignore warnings for now as we don't want to break everything when we are explicitly ignoring the warning with @
  Meteia/Dulce/Dulce.php
Due: php-cs-fixer

Fix MonorepoBuilder class name
  monorepo-builder.php
Due: php-cs-fixer

http: Use symfony/serializer for easier RequestBody deserialization
  Meteia/Http/RequestBody.php
  Meteia/Http/composer.json
  composer.json
Due: sort-json, php-cs-fixer

php-cs-fixer: fix lint
  Meteia/Dulce/Dulce.php
  Meteia/Html/Elements/Title.php
  Meteia/Http/Middleware/SimpleLog.php
  Meteia/Http/ServerRequestBodies/JsonPostBody.php
Due: php-cs-fixer

ide: add symfony/serializer
  .idea/php.xml
Due: none

project: update deps
  composer-project.nix
Due: none

ValueObjects: remove dead code, implement JsonSerializable
  Meteia/ValueObjects/Identity/Uri.php
Due: php-cs-fixer

alejandra: reformat all nix files
  flake.nix
Due: nixpkgs-fmt

tooling: switch to alejandra
  lefthook.yml
Due: none

tooling: use --quiet for alejandra
  lefthook.yml
Due: none

http: add configurable METEIA_LOG_PATH
  Meteia/Http/Configuration/LogPath.php
  Meteia/Http/DependencyInjection.php
  Meteia/Http/Middleware/SimpleLog.php
Due: php-cs-fixer

classy: allow better names than dozens of <context>/Endpoints/Index class names
  Meteia/Classy/BestMatchingClass.php
  Meteia/Http/EndpointMaps/PsrEndpointMap.php
Due: php-cs-fixer

dulce: show formated date time in jdd
  Meteia/Dulce/Functions/dd.php
Due: php-cs-fixer

valueObjects: ignore potential selectors on tokens, use built-in str_pad (lol), add hash functions
  Meteia/ValueObjects/Identity/UniqueId.php
Due: php-cs-fixer

nix: update composer deps
  composer-project.nix
Due: none

php-cs-fixer: fix lint
  Meteia/Dulce/Functions/dd.php
Due: php-cs-fixer

database: Adds FromDatabase trait
  Meteia/Database/FromDatabase.php
Due: php-cs-fixer

configuration: load `APP_ENV_FILE` early, not sure if i like this, but for the moment...
  Meteia/Configuration/DependencyInjection.php
Due: php-cs-fixer

aura/sql: update to 5.0.2
  composer-project.nix
  composer.json
Due: sort-json

php: 8.1 -> 8.2
  composer.json
Due: sort-json

Path conditions:
  sort-json: any of: *.json
  nixpkgs-fmt: any of: *.nix, but not: composer-project.nix
  php-cs-fixer: any of: *.{php,tpl}
