Repository meteia/meteia: changes, and which lefthook commands are due for each by the changed paths.
All: sort-json, alejandra, php-cs-fixer

sort-json:
  run: sort-json {staged_files} && git add {staged_files}

alejandra:
  run: alejandra --quiet {staged_files} && git add {staged_files}

php-cs-fixer:
  run: php-cs-fixer --config=.php-cs-fixer.php fix {staged_files} && git add {staged_files}

rabbitmq: declare readonly
  Meteia/RabbitMQ/Bunny/BunnyConsumer.php
  Meteia/RabbitMQ/Bunny/BunnyExchange.php
Due: php-cs-fixer

database: include migrations from meteia
  Meteia/Database/CommandLine/Migrate.php
Due: php-cs-fixer

domain: Set default DomainCommandsExchangeName
  Meteia/Domain/DependencyInjection.php
Due: php-cs-fixer

domain: add support for RabbitMQ based commands and events
  Meteia/Domain/CommandLine/CreateExchangesAndQueues.php
  Meteia/Domain/Configuration/DomainCommandsExchangeName.php
  Meteia/Domain/Contracts/DomainEventHandler.php
  Meteia/Domain/DomainCommand.php
  Meteia/Domain/DomainCommandQueueNames.php
  Meteia/Domain/DomainEvent.php
  Meteia/Domain/DomainEventHandler.php
  Meteia/Domain/DomainEventQueueMappings.php
  Meteia/Domain/DomainEventToExchangeAndQueues.php
Due: php-cs-fixer

idea: update project files yet again
  .idea/inspectionProfiles/Project_Default.xml
  .idea/meteia.iml
  .idea/php.xml
  .idea/phpspec.xml
Due: none

backblaze: remove unused storage
  Meteia/Backblaze/Backblaze.php
Due: php-cs-fixer

files: add delete (although noop for now)
  Meteia/Files/Contracts/Storage.php
  Meteia/Files/LocalStorage.php
  Meteia/Files/ObjectStorage.php
Due: php-cs-fixer

files: add test domain command and event
  Meteia/Files/DomainCommands/DeleteFile.php
  Meteia/Files/DomainEventHandlers/Files/FileUploaded/LogUploadedFile.php
  Meteia/Files/DomainEvents/FileUploaded.php
Due: php-cs-fixer

worker-queue: move run command
  Meteia/MessageQueue/CommandLine/RunWorker.php
  Meteia/WorkerQueue/CommandLine/Run.php
Due: php-cs-fixer

idea: try removing idea files
  .gitignore
  .idea/.gitignore
  .idea/discord.xml
  .idea/inspectionProfiles/Project_Default.xml
  .idea/jsLinters/eslint.xml
  .idea/markdown.xml
  .idea/meteia.iml
  .idea/modules.xml
  .idea/php-test-framework.xml
  .idea/php.xml
  .idea/phpspec.xml
  .idea/phpunit.xml
  .idea/sqldialects.xml
  .idea/vcs.xml
Due: none

composer: remove old
  composer.json
Due: sort-json

amq: rewrite into CommandBus and EventBus
  Meteia/AdvancedMessageQueuing/Bunny/BunnyCommandBus.php
  Meteia/AdvancedMessageQueuing/Bunny/BunnyConsumer.php
  Meteia/AdvancedMessageQueuing/Bunny/BunnyEventBus.php
  Meteia/AdvancedMessageQueuing/Bunny/BunnyQueue.php
  Meteia/AdvancedMessageQueuing/Configuration/CommandsExchangeName.php
  Meteia/AdvancedMessageQueuing/DependencyInjection.php
  Meteia/AdvancedMessageQueuing/DerivedNames.php
  Meteia/RabbitMQ/Bunny/BunnyExchange.php
  Meteia/RabbitMQ/Contracts/Exchange.php
  Meteia/RabbitMQ/Contracts/Message.php
  Meteia/RabbitMQ/Contracts/MessageHandler.php
  Meteia/RabbitMQ/Contracts/Queue.php
  Meteia/RabbitMQ/PhpAmqpLib/PhpAmqpLibConsumer.php
  Meteia/RabbitMQ/PhpAmqpLib/PhpAmqpLibExchange.php
  Meteia/RabbitMQ/PhpAmqpLib/PhpAmqpLibMessage.php
  Meteia/RabbitMQ/PhpAmqpLib/PhpAmqpLibQueue.php
Due: php-cs-fixer

commands: Break out into own context, rewrite
  Meteia/Commands/Command.php
  Meteia/Commands/CommandBus.php
  Meteia/Commands/CommandId.php
  Meteia/Commands/CommandLine/RunWorker.php
  Meteia/Commands/CommandLine/TestWorker.php
  Meteia/Commands/CommandMessage.php
  Meteia/Commands/CommandMessageHandler.php
  Meteia/Commands/Commands.php
  Meteia/Commands/DependencyInjection.php
  Meteia/Domain/CommandMessage.php
  Meteia/Domain/CommandMessages.php
  Meteia/Domain/Configuration/DomainCommandsExchangeName.php
  Meteia/Domain/Contracts/Command.php
  Meteia/Domain/Contracts/CommandMessageTarget.php
  Meteia/Domain/Contracts/PublishesCommands.php
  Meteia/Domain/Contracts/ThenCommand.php
  Meteia/Domain/DomainCommand.php
  Meteia/Domain/DomainCommandQueueNames.php
  Meteia/Domain/IssuedCommands.php
  Meteia/Domain/ThenCommands.php
  Meteia/Domain/ValueObjects/Commands.php
  Meteia/Domain/ValueObjects/ImmutableCommands.php
  Meteia/Files/Commands/DeleteFile.php
Due: php-cs-fixer

events: break out into own context, rewrite
  Meteia/Database/EventHandlers/Files/FileUploaded/InsertIntoDatabase.php
  Meteia/Domain/DomainEvent.php
  Meteia/Domain/DomainEventHandler.php
  Meteia/Domain/DomainEventQueueMappings.php
  Meteia/Domain/DomainEventToExchangeAndQueues.php
  Meteia/Events/CommandLine/RunWorker.php
  Meteia/Events/DependencyInjection.php
  Meteia/Events/Event.php
  Meteia/Events/EventBus.php
  Meteia/Events/EventBusWorker.php
  Meteia/Events/EventHandler.php
  Meteia/Events/EventHandlers.php
  Meteia/Events/EventId.php
  Meteia/Events/EventToEventHandlersMap.php
  Meteia/Events/Events.php
  Meteia/Files/DomainEventHandlers/Files/FileUploaded/LogUploadedFile.php
  Meteia/Files/EventHandlers/Files/FileUploaded/LogUploadedFile.php
  Meteia/Files/Events/FileUploaded.php
Due: php-cs-fixer

value-objects: auto-generate correlation, causation, and process ids
  Meteia/ValueObjects/DependencyInjection.php
  Meteia/ValueObjects/Identity/CorrelationId.php
  Meteia/ValueObjects/Identity/ProcessId.php
  Meteia/ValueObjects/Identity/UniqueId.php
Due: php-cs-fixer

classy: use real path before searching
  Meteia/Classy/PsrClasses.php
Due: php-cs-fixer

cleanup: remove dead/moved code
  Meteia/Domain/DependencyInjection.php
  Meteia/Files/DomainCommands/DeleteFile.php
  Meteia/WorkerQueue/CommandLine/Run.php
Due: php-cs-fixer

logging: hack in rough ids for now
  Meteia/Logging/DecoratedLog.php
  Meteia/Logging/DependencyInjection.php
Due: php-cs-fixer

domain: make ImmutableArrayValueObject actually immutable
  Meteia/Domain/ValueObjects/ImmutableArrayValueObject.php
Due: php-cs-fixer

domain: remove old CreateExchangesAndQueues
  Meteia/Domain/CommandLine/CreateExchangesAndQueues.php
Due: php-cs-fixer

cleanup: fix namespace changes
  Meteia/Domain/DerivedCommandTypeId.php
  Meteia/Domain/Transitional/RabbitMQCommandExchange.php
  Meteia/Domain/Transitional/RabbitMQCommandMessage.php
  Meteia/EventSourcing/EventBus.php
  Meteia/EventSourcing/EventSourcing.php
Due: php-cs-fixer

tools: try to get PrettierPHPFixer to work
  .php-cs-fixer.php
  .prettierrc.json
  package.json
  pnpm-lock.yaml
  tools/PrettierPHPFixer.php
Due: sort-json, php-cs-fixer

http: add WIP NormalizedJsonResponse
  Meteia/Http/NormalizedJsonResponse.php
Due: php-cs-fixer

chips: update, initial tasks and lefthook
  .gitignore
  Taskfile.yaml
  flake.lock
  flake.nix
  lefthook.yml
  nix/devShells/default.nix
Due: alejandra

cleanup: remove test commands/events
  Meteia/Files/Commands/DeleteFile.php
  Meteia/Files/EventHandlers/Files/FileUploaded/LogUploadedFile.php
  Meteia/Files/Events/FileUploaded.php
Due: php-cs-fixer

prettier-php: if it fails, just don't set the code
  tools/PrettierPHPFixer.php
Due: php-cs-fixer

amq: can't retry easily, so just log and exit without a useless stacktrace
  Meteia/AdvancedMessageQueuing/DependencyInjection.php
Due: php-cs-fixer

npm: sort packages
  package.json
Due: sort-json

value-objects: re-expose bytes as public (even safer now that it's read-only)
  Meteia/ValueObjects/Identity/UniqueId.php
Due: php-cs-fixer

commands: default exchange name to include namespace name
  Meteia/AdvancedMessageQueuing/DependencyInjection.php
Due: php-cs-fixer

php: update classes to be readonly
  Meteia/Backblaze/Configuration/HmacKey.php
  Meteia/Cryptography/SecretKey.php
  Meteia/Files/Configuration/ContentAddressableStorageSecretKey.php
  Meteia/Http/Cookies/CookieSecret.php
  Meteia/Http/Csrf/CsrfSecretKey.php
Due: php-cs-fixer

php-cs-fixer: apply prettier-php
  Meteia/Domain/TestUnitOfWork.php
Due: php-cs-fixer

value-objects: update remaining unique ids as readonly
  Meteia/Domain/ValueObjects/AggregateRootId.php
  Meteia/EventSourcing/EventTypeId.php
  Meteia/Logging/LogSourceId.php
Due: php-cs-fixer

nix: disable vscode config
  nix/devShells/default.nix
Due: alejandra

html: Add ResizableImage enhanced element
  Meteia/Html/Elements.php
  Meteia/Html/Elements/Img.php
  Meteia/Html/Elements/Picture.php
  Meteia/Html/Elements/Source.php
  Meteia/Html/EnhancedElements/ResizeableImage.php
  Meteia/Html/VoidElement.php
  Meteia/Http/Responses/BinaryResponse.php
  Meteia/Http/Responses/ResizedImageResponse.php
  composer.json
Due: sort-json, php-cs-fixer

php-cs-fixer: apply
  Meteia/AdvancedMessageQueuing/DependencyInjection.php
  Meteia/Database/DependencyInjection.php
  Meteia/DependencyInjection/Stubs/Invalid/SomeContext/DependencyInjection.php
  Meteia/DependencyInjection/Stubs/Valid/SomeContext/DependencyInjection.php
  Meteia/Domain/ValueObjects/Identity/ImmutableURISpec.php
  Meteia/Dulce/Functions/dd.php
  Meteia/GraphQL/Types/NullType.php
  Meteia/Http/DependencyInjection.php
  Meteia/Logging/DependencyInjection.php
  Meteia/MessageStreams/MessageSerializerTest.php
  Meteia/ValueObjects/Imported/Identity/UuidSpec.php
  Meteia/ValueObjects/Imported/Money/PreciseUSDSpec.php
  Meteia/ValueObjects/Imported/Primitives/IntegerLiteralSpec.php
  tools/PrettierPHPFixer.php
Due: php-cs-fixer

configuration: load env from file, but don't push into global $_ENV space
  Meteia/Configuration/DependencyInjection.php
  Meteia/Configuration/EnvironmentConfiguration.php
  composer.json
Due: sort-json, php-cs-fixer

symfony: configure serde normalizers
  Meteia/Symfony/DependencyInjection.php
  Meteia/Symfony/Normalizers/UniqueIdNormalizer.php
  Meteia/Symfony/Normalizers/UriNormalizer.php
  composer.json
Due: sort-json, php-cs-fixer

Path conditions:
  sort-json: any of: *.json
  alejandra: any of: *.nix, but not: composer-project.nix
  php-cs-fixer: any of: *.{php,tpl}
