Repository meteia/meteia: changes, and which lefthook commands are due for each by the changed paths.
All: sort-json, alejandra, php-cs-fixer

lefthook.yml:

pre-push:
  parallel: true
  commands:
    php-cs-fixer:
      glob: "*.{php,tpl}"
      run: php-cs-fixer --config=.php-cs-fixer.php fix --dry-run

pre-commit:
  parallel: true
  commands:
    sort-json:
      glob: "*.json"
      run: sort-json {staged_files} && git add {staged_files}
    alejandra:
      glob: "*.nix"
      run: alejandra --quiet {staged_files} && git add {staged_files}
      exclude: "composer-project.nix"
    php-cs-fixer:
      glob: "*.{php,tpl}"
      run: php-cs-fixer --config=.php-cs-fixer.php fix {staged_files} && git add {staged_files}

bootstrap: extract ConsoleKernel + ComposerAutoload from bin/meteia
  Meteia/Bootstrap/ComposerAutoload.php
  Meteia/Bootstrap/MissingPrimaryNamespace.php
  Meteia/CommandLine/Commands.php
  Meteia/CommandLine/ConsoleKernel.php
  bin/meteia
Due: php-cs-fixer

classy: polymorphic MatchedClass + typed Classes collection
  Meteia/Classy/BestMatchingClass.php
  Meteia/Classy/Classes.php
  Meteia/Classy/ClassesImplementing.php
  Meteia/Classy/Errors/MatchingClassNotFound.php
  Meteia/Classy/Matched/FoundClass.php
  Meteia/Classy/Matched/MissingClass.php
  Meteia/Classy/MatchedClass.php
  Meteia/Classy/MergedClasses.php
  Meteia/Classy/PsrClasses.php
  Meteia/CommandLine/Commands.php
  Meteia/Commands/Commands.php
  Meteia/Events/EventHandlers.php
  Meteia/Events/Events.php
  Meteia/GraphQL/DependencyInjection.php
  Meteia/GraphQL/SchemaFields.php
  Meteia/Http/Middleware/PsrEndpoints.php
Due: php-cs-fixer

html: introduce Component interface so render() returns a Node
  Meteia/Html/Children.php
  Meteia/Html/Component.php
  Meteia/Html/Elements.php
  Meteia/Html/Elements/Body.php
  Meteia/Html/Elements/Button.php
  Meteia/Html/Elements/Form.php
  Meteia/Html/Elements/Head.php
  Meteia/Html/Elements/Img.php
  Meteia/Html/Elements/Link.php
  Meteia/Html/Elements/Meta/Charset.php
  Meteia/Html/Elements/Meta/Content.php
  Meteia/Html/Elements/Meta/ItemProp.php
  Meteia/Html/Elements/Picture.php
  Meteia/Html/Elements/Script.php
  Meteia/Html/Elements/Source.php
  Meteia/Html/Elements/Title.php
  Meteia/Html/Footer.php
  Meteia/Html/Header.php
  Meteia/Html/HtmlEncoder.php
  Meteia/Html/HtmlEncoderTest.php
  Meteia/Html/HtmlLayout.php
  Meteia/Html/Layout.php
  Meteia/Html/Metadata.php
  Meteia/Html/Placeholders/PlaceholderFooter.php
  Meteia/Html/Placeholders/PlaceholderHeader.php
  Meteia/Html/Scripts.php
  Meteia/Html/Stylesheets.php
  Meteia/Http/Responses/HtmlResponse.php
Due: php-cs-fixer

Fix Vite manifest handling with dev server
  Meteia/Vite/ViteManifest.php
  Meteia/Vite/ViteManifestTest.php
Due: php-cs-fixer

composer: use dev version of bunny/bunny
  composer.json
Due: sort-json

unique-id: privatise bytes/token; drop dead parsers and bugs
  Meteia/Bootstrap/TODO.md
  Meteia/Cache/Cache.php
  Meteia/Cache/FileCache.php
  Meteia/Cryptography/SecretKey.php
  Meteia/Database/SqlValue.php
  Meteia/EventSourcing/PdoEventStream.php
  Meteia/Http/RequestHandler.php
  Meteia/Symfony/Normalizers/UniqueIdNormalizer.php
  Meteia/ValueObjects/Identity/CausationId.php
  Meteia/ValueObjects/Identity/ProcessId.php
  Meteia/ValueObjects/Identity/UniqueId.php
Due: php-cs-fixer

database: use PDO MySQL found rows constant
  Meteia/Database/DependencyInjection.php
Due: php-cs-fixer

webauthn: remove deprecated relying party name
  Meteia/WebAuthn/Configuration/RelyingPartyName.php
  Meteia/WebAuthn/DependencyInjection.php
  Meteia/WebAuthn/RelyingParty.php
  Meteia/WebAuthn/RelyingPartyTest.php
Due: php-cs-fixer

http: replace deprecated DATE_RFC7231 with explicit GMT format
  Meteia/Http/Middleware/ResponseCookies.php
Due: php-cs-fixer

webauthn: restore relying party name via direct field assignment
  Meteia/WebAuthn/Configuration/RelyingPartyName.php
  Meteia/WebAuthn/DependencyInjection.php
  Meteia/WebAuthn/RelyingParty.php
  Meteia/WebAuthn/RelyingPartyTest.php
  rules.php-8.5.md
Due: php-cs-fixer

nix: update flakes
  flake.lock
Due: none

mago: use as linter
  nix/devShells/default.nix
Due: alejandra

composer: update deps
  composer.json
Due: sort-json

zed: use config from nix-chips
  .gitignore
  .zed/settings.json
  flake.lock
  nix/devShells/default.nix
Due: sort-json, alejandra

es: add clock, global stream
  Meteia/EventSourcing/InMemoryEventStream.php
  Meteia/Time/Clock.php
  Meteia/Time/DependencyInjection.php
  Meteia/Time/FrozenClock.php
  Meteia/Time/SystemClock.php
  Meteia/migrations/20260507100000.i.create_domain_events.sql
  Meteia/migrations/20260507131000.i.add_global_sequence_to_domain_events.sql
Due: php-cs-fixer

AdvancedMessageQueuing: fix queue bind
  Meteia/AdvancedMessageQueuing/Bunny/BunnyMessageLoop.php
Due: php-cs-fixer

composer: add zumba/json-serializer as dep
  composer.json
Due: sort-json

minor fixes
  Meteia/Configuration/BooleanValues.php
  Meteia/Domain/ValueObjects/ImmutableArrayValueObject.php
Due: php-cs-fixer

migrations: fix loading
  Meteia/Database/CommandLine/Migrate.php
  Meteia/Domain/ValueObjects/Identity/ImmutableURI.php
  Meteia/migrations/20260507131000.i.add_global_sequence_to_domain_events.sql
Due: php-cs-fixer

convert ClassBasedName from trait
  Meteia/Classy/ClassBasedName.php
  Meteia/GraphQL/Mutation.php
  Meteia/GraphQL/Query.php
  Meteia/GraphQL/Types/PageInfo.php
  Meteia/GraphQL/Types/UniqueIdType.php
  Meteia/Html/Elements/Head.php
  Meteia/Html/Elements/Link.php
  Meteia/Html/Elements/Script.php
  Meteia/Html/HeadResource.php
  Meteia/Http/NamedEndpoints.php
Due: php-cs-fixer

fix deprecations
  Meteia/Backblaze/Connection.php
  Meteia/CommandLine/ConsoleKernel.php
  Meteia/Http/Cookies/CookieString.php
  composer.json
Due: sort-json, php-cs-fixer

mago analyze: fix errors in Meteia/Logging
  Meteia/Logging/Aura/SqlProfilerLogger.php
  Meteia/Logging/DecoratedLog.php
  Meteia/Logging/FanOut.php
  Meteia/Logging/Logfmt.php
  Meteia/Logging/LogfmtTest.php
  Meteia/Logging/RFC5424Formatted.php
  Meteia/Logging/StandardError.php
  Meteia/Logging/UdpSystemLog.php
Due: php-cs-fixer

mago analyze: fix errors in Meteia/Http
  Meteia/DependencyInjection/Container.php
  Meteia/Http/Cookies/RequestCookies.php
  Meteia/Http/Cookies/SealedCookie.php
  Meteia/Http/EndpointMaps/PsrEndpointMap.php
  Meteia/Http/GraphQL/Endpoints.php
  Meteia/Http/Middleware/ParseBody.php
  Meteia/Http/Middleware/PsrEndpoints.php
  Meteia/Http/Middleware/SeedMessageScopeTest.php
  Meteia/Http/Middleware/ServerTimingHeader.php
  Meteia/Http/Middleware/SimpleLog.php
  Meteia/Http/MiddlewareStack.php
  Meteia/Http/NamedEndpoints.php
  Meteia/Http/RequestHandler.php
  Meteia/Http/Responses/BinaryResponse.php
  Meteia/Http/Responses/HtmlResponse.php
  Meteia/Http/ServerRequestBodies/FormPostBody.php
  Meteia/Http/ServerRequestBodies/JsonPostBody.php
  Meteia/Http/TypedRequestPath.php
  Meteia/Http/TypedRequestQuery.php
  Meteia/Http/UploadProgress.php
  Meteia/Performance/Timings.php
Due: php-cs-fixer

mago analyze: fix errors in Meteia/Backblaze
  Meteia/Backblaze/Api/Api.php
  Meteia/Backblaze/Api/AuthorizedAccount.php
  Meteia/Backblaze/Connection.php
Due: php-cs-fixer

UniqueIdType: unsure if this is a good change...
  Meteia/GraphQL/Types/UniqueIdType.php
Due: php-cs-fixer

mago: lock to 1.26.0 for now
  composer.json
Due: sort-json

commands: add delayed commands
  Meteia/AdvancedMessageQueuing/Bunny/BunnyDelayedCommandOutbox.php
  Meteia/AdvancedMessageQueuing/Configuration/DelayedCommandsExchangeName.php
  Meteia/AdvancedMessageQueuing/DependencyInjection.php
  Meteia/Commands/DelayedCommandOutbox.php
  Meteia/Commands/DependencyInjection.php
Due: php-cs-fixer

amq: rename vars
  Meteia/AdvancedMessageQueuing/DependencyInjection.php
Due: php-cs-fixer

graphql: flush UnitOfWork after response
  Meteia/Bootstrap/MeteiaKernel.php
  Meteia/Domain/DeferredUnitOfWork.php
  Meteia/Domain/DependencyInjection.php
  Meteia/Projections/Projections.php
Due: php-cs-fixer

todo: add plans
  todo/make-a-plan-to-gentle-dove.md
Due: none

minor cleanup
  Meteia/AdvancedMessageQueuing/Bunny/BunnyCommandInbox.php
Due: php-cs-fixer

logging: add ext-sockets dep
  Meteia/Logging/UdpSystemLog.php
  composer.json
Due: sort-json, php-cs-fixer

logging: move scope ids into log context, share Logfmt formatter
  Meteia/Logging/DecoratedLog.php
  Meteia/Logging/StandardError.php
  Meteia/Logging/UdpSystemLog.php
Due: php-cs-fixer
